  body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-color: white;
  }

  nav{
    text-align: right;
    margin-right: 15%;
  }

  a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
  }

  a:hover{
    text-decoration: underline;
    color: #D9138A;
    filter: opacity(.7);
  }
 
  fieldset{
    background-image: url(images/angel.jpg);
    width: 1500px;
    height: 338px;
    background-size: cover;
    text-transform: uppercase;
    color: white;
  }

  table{
    width: 800px;
    height: 200px;
    position:absolute;
    left:130px;
    letter-spacing: .5mm;
    background-color: /*sin color*/;
    filter:opacity(.99);   
  }

  td{
    height: 50px;  
  }

  #contenido1{
    text-align: right;
    width: 20px;
  }

  #contenido2{
    font-size: 35px;
    font-weight: bold;
    text-indent: 20px;
  }

  #contenido3{
    font-size: 30px;
    text-align: right;
    vertical-align: top;
    text-indent: 75px;
  }

  #contenido4,#contenido5{
    font-size: 90px;
    font-weight: bold;
    vertical-align: top;
  }

  #contenido6{
    font-size: 30px;
  }

  div{
    width: 100%;
    height: 200px;
    margin-left: -5px;
    float: left;
   text-align: center;
    color: #998B76;
    padding: 2px;
    justify-content: center;
  }